$uchicago-maroon: #800000;
$uchicago-light-grey: #D6D6CE;
$font-stack: Helvetica, sans-serif;
$std-margin-left: 15px;

.navbar {
  background-color: $uchicago-maroon !important;
  padding: 1.2rem;
  display: flex;
  align-items: center;

  .navbar-toggler {
    background-image: none !important; 
    border-color: $uchicago-light-grey !important;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='$uchicago-light-grey' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
  }

  .navbar-brand,
  .nav-link {
    color: $uchicago-light-grey !important;
    &:hover {
      color: darken($uchicago-light-grey, 10%) !important;
    }
  }

  .nav-link.active,
  .nav-link:focus {
    color: darken($uchicago-maroon, 10%) !important; 
  }
}
