table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

table {
    width: 100%;
}

.col-sm {
    padding: 20px;
    background-color: rgb(129, 180, 180);
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);
    transition: transform 0.25s ease-in-out;
  }



