.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  a {
    font-family: "Merriweather", serif;
    font-size: medium;
    letter-spacing: 1px;
}

a#not-nav {
    text-decoration: none; /* Removes the underline */
    color: rgb(158, 202, 233); /* A bright yellow color, change as needed */
}

a#not-nave:link {
    color: rgb(158, 202, 233);
}

a#not-nav:visited {
    color: rgb(76, 118, 176);
}

a#not-nav:hover {
    color: rgb(229, 162, 241);
}

li::first-letter {
    font-size: 200%;      /* makes the first letter twice the size of the rest of the text */
    font-weight: bold;    /* makes the first letter bold */
}



