.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  table {
    border: 5px solid black;
    font-family: "Merriweather", serif;
    font-size: medium;
    letter-spacing: 1px;
}

