body {
    background-color: black;
}

body {
    color: lime; 
}

/* h1:hover{
    color:chartreuse;
} */

/* p#welcome::first-letter {
    font-size: larger;
    color:goldenrod;
}
#second {
    color:darkmagenta;
}

.secondary {
    color:greenyellow
} */